TWILIO_ACCOUNT_SID=TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN
TWILIO_API_KEY_SID=TWILIO_API_KEY_SID
TWILIO_API_KEY_SECRET=TWILIO_API_KEY_SECRET
FLASK_SECRET_KEY=FLASK_SECRET_KEY
OPENAI_API_KEY=sk-proj-OPENAI_API_KEY
TWILIO_PHONE_NUMBER=+12345678
